<footer class="footer bg-dark py-3" style="bottom: auto;">
    <div class="container text-center">
    <span style="color: beige;"><span style="color:#F16529 ;">Kennedy Chibueze </span>© 2023 portfolio. All rights reserved.</span>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    </body>
    </html>
