<%- include('partials/header') %>

    <main>
        <div class="center-container">
            <div class="upload-container">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <div class="upload-wrapper">
                        <div class="upload-icon">
                            <i class="fas fa-cloud-upload-alt"></i>
                        </div>
                        <div class="file-upload">
                            <input type="file" id="file-upload" class="file-upload" name="file" data-height="500">
                        </div>
                    </div>
                    <div id="message-container" style="display: none;">
                    <% if (success ) { %>
                        <span style="color: aliceblue;"> <%= success %> <i class="fa-solid fa-circle-check fa-beat" style="color: #ee6820;"></i></span>
                    <% } %>
                    </div>
                    
                    <div class="submit-btn">
                        <button type="submit">Upload </button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script>
        setTimeout(()=> {
          var messageContainer = document.getElementById("message-container");
          if (messageContainer) {
            messageContainer.style.display = "block";
          }
        }, 2000); 
      </script>
      

<%- include('partials/footer') %>