<%- include('partials/header') %>

    <main>
        <div class="center-container">
            <div class="upload-container">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <div class="upload-wrapper">
                        <div class="upload-icon">
                            <i class="fas fa-cloud-upload-alt"></i>
                        </div>
                        <div class="file-upload">
                            <input type="file" id="file-upload" class="file-upload" name="file" data-height="500">
                        </div>
                    </div>

                    <% if (message) { %>
                     <div class="message-container">
                        <span><%= message %></span>
                     </div>
                    <% } %>
                    
                    <div class="submit-btn">
                        <button type="submit">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script>
        // Wait for 5 seconds (5000 milliseconds) and then hide the message
        setTimeout(()=> {
          var messageContainer = document.getElementsByClassName("message-container");
          if (messageContainer) {
            messageContainer.style.display = "hidden";
          }
        }, 5000); // Adjust the time as needed
      </script>
      

<%- include('partials/footer') %>