body{
    margin: 0;
    padding: 0;
}

.navbar{
    z-index: 3;
}
.navbar-collaspe{
    margin-right: 20px;
    justify-content: right;
}

.nav-item{
    padding-right: 40px;
    color: #F16529;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f17a46; /* Set your desired color here */
}

.nav-link::after{
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: #F16529;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;

}

.nav-link:hover::after{
    transform: scaleX(1);
}


/* header */
header {
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 6;
    overflow: hidden;
    height: 400px;
    border: 2px solid; 
    background-color: #f0f0f0;
    border: 2px solid #ccc; 
    box-sizing: border-box; 
    
  }

.header-text{
    padding-bottom: 20px;
    position: absolute;
    justify-content: center;
    margin-left: 10px;
    margin-right: 500px;
}

.header-text h2 h3{
width: 495px;
height: 57px;
justify-content: center;
color: #484646;
text-align: center;
font-family: Livvic;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-content: center;
}

.header-text button{
    color: #413f3f;
text-align: center;
font-family: Livvic;
font-size: 20px;
font-style: normal;
font-weight: 200;
line-height: normal;
justify-content: center;
/* margin-left: 100px; */
margin-top: 20px;
border: 2px solid #FB532E;
padding: 10px 30px 10px 30px;
border-radius: 20px;
}

.header-image img{
    background: url("./mypics2.jpg") lightgray 50% / cover no-repeat, #0D0E13;    box-shadow: 5px 1px 25px 13px #6B6565;
    width: 270px;
    height: 278px;
    flex-shrink: 0;
    border-radius: 578px;
    position: relative;
    float: right;
    z-index: 1;
    right: -400px;
    top: -10px;
    border: 5px solidrgb(92, 91, 91)1;
}

.header-shape{
    width: 1085px;
    height: 1085px;
    transform: rotate(-11.882deg);
    border-radius: 1257.385px;
    background: #D9D9D9;
    position: absolute;
    right: calc(50% - 1085px / 2);
    z-index: 0;
    margin-right: -600px;
    top: 100px;
    background: url('/images/Wallpaper.jpeg');
}

/* end header */

/* About starts */
.about-section {
    position: relative;
    align-items: center;
    background-color: #292626;
    border:2px solid #282626;
    height: 600px;
    z-index: 7;
}

.about-section h1{
    color: #fc5b37;
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.about-message{
    width: 540px;
    height: 424px;
    position: absolute;
    margin-left: 180px;
    margin-top: 130px;
    text-decoration: #FFF;;
}

.about-message h2{
    color: #fff;
}
.about-message p{
    color: #FFF;
}

.about-message button{
    background-color: #F16529;
    padding: 10px 25px 10px 25px;
    font-weight: 800;
    border-radius: 20px;
    color: #eae4e4;
}

.about-image img{
    width: 270px;
    height: 278px;
    flex-shrink: 0;
    border-radius: 578px;
    position: relative;
    float: right;
    z-index: 1;
    top: 10px;
    margin-right: 50px;
}

.about-image h3{
    color: #d1caca;
    float: right;
    right: 0;
    position:absolute;
    top: 430px;
    margin-right: 80px;
}
.about-shape{
    width: 270px;
    height: 278px;
    flex-shrink: 0;
    border-radius: 578px;
    background: #fc5b37;
    position: absolute;
    float: right;
    right: 0;
    z-index: 0;
    /* top: 10px; */
    margin-right: 50px;
    margin-top: 1px;
}
/* about ends */

/* service section start */

.service-card{
    position: relative;
    place-items: center;
    justify-content: center;
    margin-right: 150px;
    margin-top: 20px;
    
}

.service-card h2{
    text-align: center;
    margin-top: 50px;
    margin-left: 130px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.card{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    right: 0%;
    margin-right: 20px;
    place-content: center;
    margin-bottom: 5px;
}

.service-icon{
    position:absolute;
}

svg{
    margin-top: 5px;
    padding-right: 100px;
    justify-content: center;
    margin-left: 380px;
}

/* testimonial */

.testimonial-section{
    background: #282626;
}

.testimonial-image{
    border-radius: 100%;
    height: 100px;
    max-width: 100px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.carousel-item .card{
    box-shadow: 0 10px 16px 0 rgba(161, 155, 155, 0.2);
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    border-color: #F16529;
    background-color: #282626;
    border-radius: 10%;
  }

  .carousel-item .card span{
    color: #f0f0f0;
    font-size: 30px;
  }

  .carousel-item .card a{
    color: #F16529;
    margin-right: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
  }

  .carousel-item .card a:hover{
    color: #D9D9D9;
    box-shadow: 1px 1px 3px 3px #f17a46; 
    transform: scale(1.2);
 }

  .carousel-item .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .title {
    color: grey;
    font-size: 10px;
  }
  
  .carousel-item .card p{
    margin-left: 15px;
    margin-right: 15px;
  }

  /* contact-section starts */

  .contact-section .container{
    border-radius: 200px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 50%;
  }

  .form-header{
    display: flex;
    justify-content: center;
    align-items: center;
    color:ivory;
    margin-bottom: 20px;
  }

  .contact-section .container input[type="text"], input[type="email"],textarea{
    border-bottom:2px solid #F16529;
    /* border: none; */
    margin-bottom: 10px;
    margin-top: 10px;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: inherit;
    max-width: 300px;
  }

  .form-container{
    position: absolute;
    background-color: #292626;
    padding: 80px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 400px;
    z-index: 0;
    float: left;
    margin-left: -300px;
    border-radius: 20px;
  }

  .form-container input[type="submit"]{
    align-self: center;
    justify-content: center;
  }

  .inner-container{
    border:2px solid #F16529;
    border-radius: 20px;
    padding: 20px 50px 20px 50px;
  }

  .contact-image{
    left: -300px;
    overflow-x: visible;
    float: right;
    margin-right: -500px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-icon {
    z-index: 0;
    position:absolute;
    margin-top: 460px;
    margin-left: 200px;
  }

  .contact-icon a{
    margin-left: 20px;
    color: #e57740;
  }
  
 
  /* upload page design */
  .file-upload{
    padding: 50px;
  }

  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

  /* Reset default margin and padding */
body, h1, p, form {
  margin: 0;
  padding: 0;
}

/* Center the content horizontally and vertically */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This ensures the content takes up the full viewport height */
}

/* Style the upload container */
.upload-container {
  background-color: #393838;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  height: 400px;
  width: 500px;
}

/* Style the upload icon */
.upload-icon {
  font-size: 80px;
  color: #e57740;
  margin-bottom: 10px;
}

/* Style the file input */
.file-upload {
  width: 100%;
  padding: 10px;
  border: 1px solid #434242;
}

.file-upload input[type='file']{
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #D9D9D9;
}

/* Style the submit button */
.submit-btn button {
  background-color: #e57740;
  color: rgb(29, 28, 28);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}


